<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />

    <link rel="stylesheet" th:src="@{/css/login.css}"
          href="../../css/login.css" />

    <script src="webjars/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>

<script src="https://use.typekit.net/ayg4pcz.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<div class="container">
    <h1 class="welcome text-center">Welcome</h1>
    <div class="card card-container">
        <h2 class='login_title text-center'>Login</h2>
        <hr></hr>
        <h3 th:if="${param.error}">
            Invalid username and password.
        </h3>
        <h3 th:if="${param.logout}">
            You have been logged out.
        </h3>
        <h3 th:if="${param.registered}">
            Please login with the registered account
        </h3>

        <form class="form-signin" th:action="@{/login}" method="post">
            <span id="reauth-email" class="reauth-email"></span>
            <p class="input_title">username</p>
            <input type="text" name="username" class="login_box" placeholder="user"/>
            <p class="input_title">Password</p>
            <input type="password" name="password" class="login_box" placeholder="******"/>

            <button class="btn btn-lg btn-primary" type="submit">Login</button>
        </form><!-- /form -->
        <a th:href="@{/register}">
            Don't have an Account?
        </a>
    </div><!-- /card-container -->
</div><!-- /container -->
<!-- /.container -->

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>

</body>
</html>